<div class="container">
  <h1>Game</h1>

  {{!-- for testing purposes --}}
    <div class="row justify-content-center my-5">
      <button id="start">Start</button>
    </div>


  <div id="gameBlock" class="row justify-content-center my-5">
    <ul class="list-group list-group-flush text-center" id="gameListEl">
      {{!-- Game text will be appended here dynamically --}}
    </ul>
  </div>
  <div class="row justify-content-center no-gutters">
    <button><a href="/">Quit</a></button>
  </div>
</div> 