<div class="background">
  <h1>Planet Murder Mystery</h1>
  <div
    id="ChartButtons"
    class="btn-toolbar"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <button
      type="button"
      class="btn-primary"
      id="Chart1"
      background="Medusaback"
    >
      <img
        src="./assets/APlanet11.png"
        class="roundedFloat-center"
        alt="200"
        width="200"
        height="200"
        alt="Placeholder"
      />
    </button>
    <div id="animation"></div>
    <button
      type="button"
      class="btn-primary"
      id="Chart2"
      background="Blackboltback"
    >
      <img
        src="./assets/CPlanet22.png"
        class="roundedFloat-center"
        alt="200"
        width="200"
        height="200"
        alt="Placeholder"
      />
    </button>
    <div id="animation"></div>
    <button
      type="button"
      class="btn-primary"
      id="Chart3"
      background="Crystalback"
    >
      <img
        src="./assets/SPlanet55.png"
        class="roundedFloat-center"
        alt="200"
        width="200"
        height="200"
        alt="Placeholder"
      />
    </button>
    <div id="animation"></div>
    <button
      type="button"
      class="btn-primary"
      id="Chart4"
      background="Tritonback"
    >
      <img
        src="./assets/OLDPlanet.png"
        class="roundedFloat-center"
        alt="200"
        width="200"
        height="200"
        alt="Placeholder"
      />
    </button>
    <div id="animation"></div>
    <button
      type="button"
      class="btn-primary"
      id="Chart5"
      background="Tritonback"
    >
      <img
        src="./assets/ACPlanet66.png"
        class="roundedFloat-center"
        alt="200"
        width="200"
        height="200"
        alt="Placeholder"
      />
    </button>
  </div>
  <div class="row justify-content-center my-5 py-5">
    <button id="startGame"><a href="/api/actors">Start Game</a></button>
  </div>
</div>
