<main class="container">

    <h1>WELCOME PAGE

    </h1>


    <p> information about the game</p>
    
    
    
    <a href="/chartSelect">Play</a>


   

</main>
<div class="right-col"></div>
    <p>Click here to Listen</p>
    <img src="./assets/play-button.png" id="icon">
    </div>
    <audio id="mySong"></audio>
    <source src="media/mySong.mp3" type="audio/mp3">
    </audio>

<footer>  info about the team</footer>