<main class="container">

    <h1>WELCOME PAGE

    </h1>


    <p> information about the game</p>
    
    
    
    <a href="/api/chartSelect">Play</a>

   

</main>


<footer>  info about the team</footer>