<main class="container">
<h1>WELCOME PAGE</h1>
    <div class="row justify-content-center my-5 py-5">
        <button><a href="/chartSelect">Play Game</a></button>
    </div>
    <div class="row justify-content-center my-5">
        <button class="mr-2"><a href="/gameInfo">About the game</a></button>
        <button class="ml-2"><a href="/teamInfo">About the team</a></button>
    </div> 
   

</main>
<div class="right-col"></div>
    <p>Click here to Listen</p>
    <img src="./assets/play-button.png" id="icon">
    </div>
    <audio id="mySong"></audio>
    <source src="media/mySong.mp3" type="audio/mp3">
    </audio>

<footer>  info about the team</footer>