<main class="container">
  <h1>Meet the team</h1>
  <hr />
  {{!-- Cards of each team member --}}
  <div class="row row-cols-2 row-cols-md-4">
    <div class="col mb-4">
      <div class="card">
        <img src="https://avatars.githubusercontent.com/u/70674522?s=400&u=619d81628c98fccba7fb90deab11203ed7b284b3&v=4" class="card-img-top" alt="Victor Moscone" />
        <div class="card-body">
          <h5 class="card-title text-center">Victor Moscone</h5> 
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://avatars.githubusercontent.com/u/48099435?s=400&u=d6386c0b51a7898d7a3e27613af6446d027a7cf5&v=4" class="card-img-top" alt="Kayla Muraoka" />
        <div class="card-body">
          <h5 class="card-title text-center">Kayla Muraoka</h5>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://avatars.githubusercontent.com/u/71686331?s=400&u=8cc5b46f6b4e919f9e1e3b56cb97b6779e66e34a&v=4" class="card-img-top" alt="Lester Gonzalez" />
        <div class="card-body">
          <h5 class="card-title text-center">Lester Gonzalez</h5>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://avatars.githubusercontent.com/u/71304781?s=400&u=e01da08c9e01a4868dea12f8135872c62ad18f9c&v=4" class="card-img-top" alt="Stephanie McCandless" />
        <div class="card-body">
          <h5 class="card-title text-center">Stephanie McCandless</h5>
        </div>
      </div>
    </div>
  </div>
</main>