
.upload-profile-image {
  position: relative;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  transition: filter 0.8s ease;
}

.upload-profile-image:hover {
  filter: drop-shadow(1px 1px 22px #7584bb);
}

#upload-profile {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 200px;
  margin-top: 0px;
  opacity: 0;
}

#upload-profile::-webkit-file-upload-button {
  visibility: hidden;
}

#upload-profile::before {
  content: "";
  display: inline-block;
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 50%;
}

.upload-profile-image .camera-icon {
  position: absolute;
  top: 70px;
  font-size: 60px !important;
  filter: invert(40%) !important;
}

.upload-profile-image:hover .camera-icon {
  filter: invert(70%) !important;
}

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet');

@-webkit-keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}@keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}

html, body {
  background-color: black;
  font-family: 'Monoton', cursive;
  transition: 0.3s all;
  }

h1 {
  font-weight: 200;
  font-size: 100px;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Monoton', cursive;
  ;
}


body {
    height: 100vh;
  }
  .section1 {
    background-color:transparent;
    height: 100vh;
  }
  .section2 {
    background-color: transparent;
    height: 100%;
  }

.background {
    background-image: url('../assets/Untitled-1\ copy.jpg');
    height: 100vh;
    width: 100%;
    position: fixed;
    background-size: cover;
    
}

.TitleIn {
    image-orientation: center;
    padding-left: 380px;
}

.btn-toolbar {
    padding-left: 100px;
    display: flex;
    background-color: black;
}

#Chart1:focus, #Chart2:focus, #Chart3:focus, #Chart4:focus, #Chart5:focus {
    background-color: transparent;
    outline-style: none;
        border-radius: 50%;
        border: solid 1px #a6d8a8;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 4px;
        height: 200px;
        width: 220px;
        
}

.roundedFloat-center {
  border-radius: 50%;
  background-color: transparent;
  color: none;
  background: none;
}


#ChartButtons {
    background-color: transparent;
    text-align: center;
}

.btn-primary {
    background-color: transparent;
    border-color: violet;
    border-radius: 50%;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
    border: none;
    height:200px ;
    width: 220px;
    text-align: center;
}

#starGame {
  width:100px; 
  height:50px; 
}


HTML SCSS JSResult Skip Results Iframe
EDIT ON

*{
  box-sizing: border-box;
}
body{
  background: black;
}

span{
  margin: 0;
  padding: 0;
}

.end-left{
  margin-left: -235px;
}

.end-right{
  margin-right: -117.5px;
}
.outline{
  position: absolute;
  top: 20px;
}

.outline{
    color: black;
   -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: orange;
   font-size: 64px;
  font-family: 'Arvo', serif;
}

.orbs{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  display: block;
  font-size: 128px;
}


#panel, .flip {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: transparent;
  color: none;
  border: solid 1px #a6d8a8;
  margin: auto;
}

#panel {
  display: none;
}

.lef-col{
  float: right;
  margin-right: 6%;
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.right-col p {
  font-size: 18px;
  color:white;
  font-weight: 400;
  margin-right: 15px;
}

#icon {
  width: 80px;
  cursor: pointer;
}

#actorsBackground {
  height: 100vh;
}

.modal-content {
  background-color:black;
}

h3 {
  color: whitesmoke;
}

.card {
  background-color:transparent;
  border-color: turquoise;
}

.form-text-black-50 {
  color: whitesmoke;
  text-decoration: white;
}

.btn {
  background-color:turquoise;
  border-color: violet;
}

.btn-success {
  color: #ffffff;
  background-color:violet;
  border-color:turquoise;
}

.btn-success.focus, .btn-success:focus {
  color: #fff;
  background-color: turquoise;
  border-color:violet;
  box-shadow: 0 0 0 0.2rem rgb(72 180 97 / 50%);
}

#btnEfect {
  color: #ffffff;
  background-color:violet;
  border-color:turquoise;
}
